@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.landingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.writeCopy {
  font-family: Inter;
  font-weight: 600;
  text-align: left;
  font-size: 56px;
  color: black;
  z-index: 1000;
}

@media (max-width: 375px) {
  .writeCopy {
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .writeCopy {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 414px) {
  .writeCopy {
    font-size: 25px;
    text-align: center;
  }
}

.h4Copy {
  font-family: Inter;
  font-weight: 400;
  color: #939393;
  margin: 1.5rem 0 2rem 0;
}

@media (max-width: 375px) {
  .h4Copy {
    text-align: center;
    font-size: 11px;
  }
}

@media (max-width: 360px) {
  .h4Copy {
    text-align: center;
    font-size: 11px;
  }
}

@media (max-width: 412px) {
  .h4Copy {
    text-align: center;
    font-size: 11px;
  }
}

@media (max-width: 414px) {
  .h4Copy {
    text-align: center;
  }
}

.emailInput {
  width: 628px;
  height: 62px;
  border-radius: 10px;
  border: none;
  background-color: #e7e7e7;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #878787;
  padding-left: 2rem;
}

@media (max-width: 375px) {
  .emailInput {
    height: 40px;
    width: 330px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .emailInput {
    height: 40px;
    width: 330px;
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .emailInput {
    height: 50px;
    width: 380px;
    font-size: 14px;
    margin-left: 10px;
  }
}

.waitlist {
  width: 135px;
  height: 51px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  position: absolute;
  right: 508px;
  margin: 6px 6px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.waitlist:hover {
  background-color: #222222;
  transform: scale(1.03);
}

@media (max-width: 375px) {
  .waitlist {
    height: 35px;
    width: 100px;
    font-size: 12px;
    right: 50px;
    margin: 2px 15px 0 0;
  }
}
@media (max-width: 360px) {
  .waitlist {
    height: 35px;
    width: 100px;
    font-size: 12px;
    right: 30px;
    margin: 2px 0 0 0;
  }
}

@media (max-width: 414px) {
  .waitlist {
    height: 40px;
    width: 100px;
    font-size: 12px;
    margin: 4px -129px 0 0;
  }
}

/* @media (min-width: 414px) {
  .waitlist {
    height: 40px;
    width: 100px;
    font-size: 14px;
    margin: 4px -120px 0 0;
  }
} */

@media (max-width: 810px) {
  .waitlist {
    right: 160px;
  }
}

.formStyles {
  display: flex;
}

.colorCircle {
  position: absolute;
  top: -7%;
  right: 1%;
  z-index: -1000;
}

@media (min-width: 375px) {
  .colorCircle {
    top: -7%;
  }
}

.blueBlob {
  position: absolute;
}

@media (max-width: 375px) {
  .blueBlob {
    top: 40%;
  }
}

@media (max-width: 360px) {
  .blueBlob {
    top: 40%;
  }
}

@media (max-width: 412px) {
  .blueBlob {
    top: 40%;
  }
}

@media (max-width: 810px) {
  .blueBlob {
    top: 40%;
  }
}

.blobBlur {
  filter: blur(100px);
}

.imageBlur {
  position: absolute;
  top: 40%;
  left: -2%;
  z-index: -1000;
  filter: blur(100px);
}
