@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.landingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.writeCopy {
  font-family: Inter;
  font-weight: 700;
  text-align: left;
  font-size: 56px;
  color: black;
}

.emailInput {
  width: 649px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: grey;
  font-size: 23px;
  color: white;
  padding-left: 2rem;
}

.waitlist {
  width: 179px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  color: grey;
}

.formStyles {
  display: flex;
}
